$primary-color: #ffffff;
$secondary-color: #ffb96b;

body {
  background-color: $primary-color;
}

.main-view {
 display: flex;
 flex-wrap: wrap;
}

.login-card {
  display: flex;
  flex-wrap: nowrap;
}

.registration-card {
  display: flex;
  flex-wrap: wrap;
}

